* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --space-s: 1rem;
    --space-m: 2rem;
    --space-l: 3rem;
  }
  
  body {
    font-family: "Helvetica Neue LT Pro 55 Roman", sans-serif;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    font-size: 40px;
    background-color: #ffffff;
    color: #333;
  }


  header , main{
    padding: var(--space-s);
  }

  .headline-link {
    color: black;
    text-decoration: none;
  }

  h2 {
    font-weight: 600;
    font-size: 20px;
  }

  p {
    font-weight: 400;
    font-size: 18px;
  }

  .link {
    font-weight: 800;
    font-size: 20px;
    color: black;
    text-decoration: none;
  }

  .zeit {
    font-weight: 400;
    font-size: 15px;
  }

  .wert p {
    font-weight: 700;
    font-size: 50px;
  }

  .wert {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 32px;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .info_button {
    margin-top: var(--space-l);
  }

  .eintraege {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .icon_led {
    display: flex;
    justify-content: center;
  }

  .titel{
    background-color: #D3D3D3;
    
  }
  
  .inhalt {
    background-color: #F4F4F4;
    align-content: center;
  }

  .icon {
    height: 30px;
  }

  footer {
    background-color:#F4F4F4 ;
    margin-top: var(--space-l);
    padding: var(--space-s);
    width: 100%;
  }
  
  .menu {
    margin-bottom: var(--space-s);
    display: flex;
    gap: var(--space-m); 
    flex-wrap: wrap;     
  }



  